<mat-card>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)">
      <mat-form-field>
          <input 
            matInput 
            placeholder="Enter a title" 
            name="title"
            [ngModel]="post?.title"
            required
            #title="ngModel"
            type="text">
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea 
            matInput 
            rows="4"
            placeholder="Enter post's content" 
            name="content"
            [ngModel]="post?.content"
            #content="ngModel"
            required>
          </textarea>
          <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
        </mat-form-field>
        <button 
          mat-raised-button 
          color="accent" 
          type="submit">
          Save Post
        </button>
  </form>
</mat-card>

